{% extends "PortfolioDatabaseApp/base.html" %}
{% load static %}


<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta content="utf-8" http-equiv="encoding">
     <link rel="stylesheet" href="{% static 'PortfolioDatabaseApp/Style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <title>A little bit about me</title>
</head> 
<body>
{% block body %}

 
<p style ="text-align:center">
   Hello,  Greetings and Salutations.  Welcome to my site.<br>
    <br>
    I'm the oldest of 10 kids.  My father was in the Air Force, so we traveled some.<br>
    I enjoy hiking (Logan Canyon and the Uintas), Backpacking, mainly in the Uintas,<br>
    road trips, playing video games, reading, and learning new things.<br>
    Also,  I will be glad and sad when I'm done with school.
    I've also included some video's for your viewing please.

</p>

 <table width="100%" border="0" cellspacing="0" cellpadding="0"/>
  <tr>
    <th style ="text-align:center">Movies \ Tv</th>
      <th></th>
    <th>Cool Videos</th>
       <th></th>
    <th>Music</th>
  </tr>
  <tr>
    <td><iframe width="320" height="280" src="https://www.youtube.com/embed/LBIgXhiOpeQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" ></iframe></td>
    <td></td>
      <td><iframe width="320" height="280" src="https://www.youtube.com/embed/YH3c1QZzRK4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
  <td></td>
   <td><iframe width="320" height="280" src="https://www.youtube.com/embed/kgeIINs1TrQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
  </tr>
  <tr>
    <td><iframe width="320" height="280" src="https://www.youtube.com/embed/aClyUL_Amfw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
   <td></td>
    <td><iframe width="320" height="280" src="https://www.youtube.com/embed/pj9cNnT7PJs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
<td></td>
<td><iframe width="320" height="280" src="https://www.youtube.com/embed/IzfockTg57g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
  </tr>
</table>


{% endblock %}
</body> 
</html> 