<!DOCTYPE html> 
<html lang="en"> 
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta content="utf-8" http-equiv="encoding">
    <title>Contact</title>
</head> 
<body style="background-color:DodgerBlue;">
 
<audio controls autoplay>
  <source src="/Music/John Williams - The Imperial March" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
 
<p style ="text-align:center">
   Name:  Jeffory Kyle Heath<br>
   Email: jefforyheath@mail.weber.edu
</p>

 <table width="100%" border="0" cellspacing="0" cellpadding="0"/>
    <tr>
        <td>
                <iframe src="https://giphy.com/embed/QBq8kOtfBd7DG" width="480" height="302" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        </td>
        <td>
             <iframe src="https://giphy.com/embed/1FZqAOn4hzGO4" width=640" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
         </td>
    </tr>

</table>

</body> 
</html> 